{% extends "base.html" %}

{% block title %}商家註冊{% endblock %}

{% block content %}
<h1>送貨員註冊</h1>
<form action="/deliver_regi" method="POST">
    <label for="name">名稱：</label>
    <input type="text" name="name" id="name" required><br><br>

    <label for="email">電話號碼：</label>
    <input type="int" name="email" id="email" required><br><br>

    <label for="password">密碼：</label>
    <input type="password" name="password" id="password" required><br><br>

    <button type="submit">註冊</button>
</form>
<p>已經有帳號了？<a href="/deliver_login">登入</a></p>
{% endblock %}
